h1, h2, h3, h4, h5, h6, p, a, a:visited, li {
  font-weight: 400;
  font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #222;
}

hr {
  width: 100%;
  background: #fff;
  border: 0;
  border-bottom: 1px solid #222;
}

.container {
  max-width: 640px;
  width: 100%;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.navbar {
  border-bottom: 1px solid #222;
}

a.nav-link {
  text-decoration: none;
}

a.nav-link:hover {
  background: radial-gradient(
      rgba(0, 0, 0, 0.5),
      #fff
    );
  text-decoration: none;
}

.float-right {
  float: right;
}

.media-object {
  padding: 4px;
}

.photo-caption {
  margin: 2px;
  font-size: 75%;
  text-align: center;
}

.media-object img {
  max-width: 100%;
  width: 100%;
}

.muted {
  color: #666;
  font-size: 0.8em;
}

.button {
  border: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  letter-spacing: .03em;
  color: #fff;
  background-color: #aaa;
  box-sizing: border-box;
  height: 32px;
  line-height: 32px;
  padding: 0 18px;
  display: inline-block;
  margin: 0;
  transition: all 0.23s ease-in-out 0s;
}

.button:hover {
  background-color: #777;
  cursor: pointer;
}

.button-inactive {
  background-color: #ddd;
}

.button-group {
  padding: 0;
  margin: 0;
}
