.container {
  max-width: 768px;
}

.float-right {
  float: right;
}

.full-width {
  width: 100%;
}

.media-object {
  padding: 4px;
}

.media-object img {
  max-width: 100%;
  width: 100%;
}

.muted {
  font-style: italic;
}

.photo-caption {
  margin: 2px;
  font-style: italic;
  text-align: center;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

fieldset {
  margin-bottom: 1em;
}

td {
  vertical-align: top;
}

th {
  white-space: nowrap;
}
