h1, h2, h3, h4, h5, h6, p, a, a:visited, li {
  font-weight: 400;
  font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #222;
}

hr {
  width: 100%;
  background: #fff;
  border: 0;
  border-bottom: 1px solid #222;
}

.text-center {
  text-align: center;
}

.navbar {
  border-bottom: 1px solid #222;
}

a.nav-link {
  text-decoration: none;
}

a.nav-link:hover {
  background: radial-gradient(
      rgba(0, 0, 0, 0.5),
      #fff
    );
  text-decoration: none;
}

.float-right {
  float: right;
}

.media-object {
  padding: 4px;
}

.photo-caption {
  margin: 2px;
  font-size: 75%;
  text-align: center;
}

.media-object img {
  max-width: 100%;
  width: 100%;
}
