<p class="text-center">
  <a href="/">Home</a> - <a href="/files/resume.html">Resume</a> -
  <a href="https://www.linkedin.com/in/brentwalther">LinkedIn</a> -
  <a href="http://www.github.com/brentwalther">Github</a> -
  <a href="/projects.html">Projects</a> - 
  <a href="/music.html">Music</a>
</p>
<p class="text-center">&#0169; {{ "now" | date: "%Y" }} Brent Walther</p>
<p class="text-center muted">
  Site last updated {{ site.time | date: "%a, %b %d, %Y" }}
</p>
<p class="text-center muted"><a href="/all.html">All Posts</a></p>

{% include base_footer.html %}
