<hr>
<div class="col-xs">
  <div class="box">
    <div class="media-object">
      <img src="{{ "/img/" | append: page.albumart }}">
    </div>
  </div>
</div>
<div class="col-xs">
  <div class="box">
    <h3>Album: <strong>{{ page.album }}</strong></h3>
    <h3>Artist: <strong>{{ page.artist }}</strong></h3>
    <h3>Rating: <strong>{{ page.ratingword }}&nbsp;
      {% for pageNum in (1..page.rating) %}<i class="fa fa-star"></i>{% endfor %}{% for pageNum in (page.rating..4) %}<i class="fa fa-star-o"></i>{% endfor %}
    </strong></h3>
    <article class="post-content">
      {{ content }}
    </article>
    <p class="muted">Listened on: {{ page.date | date: "%A, %b %d, %Y" }} </p>
  </div>
</div>