<fieldset>
  <legend>{{ page.artist }} - {{ page.album }}</legend>
  <div class="row">
    {% if page.albumart %}
    <div class="col-sm-4">
      <div class="media-object">
        <img src="{{ '/img/' | append: page.albumart }}">
      </div>
    </div>
    {% endif %} 
    <div class="col-sm-8">
      <article>
        {% if page.ratingword %}
        <p>
          <strong>{{ page.ratingword }}&nbsp;
          {% for pageNum in (1..page.rating) %}<i class="fa fa-star"></i>{% endfor %}{% for pageNum in (page.rating..4) %}<i class="fa fa-star-o"></i>{% endfor %}</strong>
        </p>
        {% endif %}
        {{ content }}
        <p><em>Listened on: {{ page.date | date: "%A, %b %d, %Y" }}</em></p>
      </article>
    </div>
  </div>
</fieldset>